{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}<title>Fitness Guru</title>{% endblock %}
{% block content %}

<div id="index-banner" class="parallax-container">
<div class="section no-pad-bot">
<div class="container">
<br><br>
<h1 class="header center teal-text text-lighten-2">CROSS FIT</h1>
<div class="row center">
<h5 class="header col s12 light">I have two doctors, my left leg and my right.</h5>
</div>
<div class="row center">
<a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
</div>
<br><br>

</div>
</div>
<div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
<div class="section">

<!--   Icon Section   -->
<div class="row">
<div class="col s12 m4">
<div class="icon-block">
<h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
<h5 class="center">Get a physical examination to identify any physical limitations</h5>

<p class="light">Before beginning any fitness training program, it is important to get examined by a health professional. A doctor or nurse can identify health conditions, joint weaknesses, or contraindications for certain types of exercise and may even be able to recommend specific types of exercise programs that are safe for whatever conditions you may have.</p>
</div>
</div>

<div class="col s12 m4">
<div class="icon-block">
<h2 class="center brown-text"><i class="material-icons">group</i></h2>
<h5 class="center">Determine your fitness goals</h5>

<p class="light"> Having specific goals will also dictate what types of exercise you should build into your plan, the amount of time you will need to exercise, and whether your fitness plan will need to include significant dietary changes.
If your goals include weight loss, you will need to consider dietary changes as well as significant cardio activity. Strength training is also essential to boosting metabolism rates and burning more calories.
If your fitness goals are targeted at a contest or event, such as a triathlon or marathon, your program will include interval training, targeted activities, and a significant time commitment.</p>
</div>
</div>

<div class="col s12 m4">
<div class="icon-block">
<h2 class="center brown-text"><i class="material-icons">settings</i></h2>
<h5 class="center">Design a weekly exercise chart</h5>

<p class="light">Once you have developed the length of time and type of activities you will complete each day, record it on a piece of paper divided into the days of the week. Be sure to include the expected time and place of your workout in the written plan.</p>
</div>
</div>
</div>

</div>
</div>


<div class="parallax-container valign-wrapper">
<div class="section no-pad-bot">
<div class="container">
<div class="row center">
<h5 class="header col s12 light">Fitness is not about being better than someone else...its about being better than you used to be.</h5>
</div>
</div>
</div>
<div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
<div class="section">

<div class="row">
<div class="col s12 center">
<h3><i class="mdi-content-send brown-text"></i></h3>
<h4>Contact Us</h4>
<p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
</div>
</div>

</div>
</div>


<div class="parallax-container valign-wrapper">
<div class="section no-pad-bot">
<div class="container">
<div class="row center">
<h5 class="header col s12 light">Your Body is your most priceless possession take care of it.</h5>
</div>
</div>
</div>
<div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
</div>
{% endblock %}